<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
    <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
        <a href="/Home/index" class="navbar-brand">
            <h1 class="m-0 display-4 text-uppercase text-white"><i class="bi bi-building text-primary me-2"></i>CITYSKYLINE</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/Home/index" class="nav-item nav-link active">ANA SAYFA</a>
                <a href="/Home/about" class="nav-item nav-link">HAKKIMIZDA</a>
                <a href="/Home/service" class="nav-item nav-link">SERVİSLERİMİZ</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PROJE</a>
                    <div class="dropdown-menu m-0">
                        <a href="/Home/project" class="dropdown-item">PROJELERİMİZ</a>
                        <a href="/Home/team" class="dropdown-item">TEKNİK EKİP</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BLOG</a>
                    <div class="dropdown-menu m-0">      
                        <a href="/Home/blog" class="dropdown-item">BLOGLAR</a>
                        <a href="/Home/blogdetail" class="dropdown-item">BLOG DETAYLARI</a>
                        <a href="/Home/testimonial" class="dropdown-item">SİZDEN GELENLER</a>
                    </div>
                </div>
                <a href="/Home/contact" class="nav-item nav-link">İLETİŞİM</a>
                <a href="/Home/contact" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block">TEKLİF ALIN <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->