@model List<ResultBlogDTO>
<!-- Blog Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">BLOG YAYINIMIZDAN <div class="text-primary">SON YAZILAR</div></h1>
    </div>
    <div class="row g-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="bg-light">
                    <img class="img-fluid" src="~/img/@item.Image" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="~/img/user.jpg" width="35" height="35" alt="">
                                <span>@item.UserName</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>@item.DateTime.ToString("dd/MM/yyyy")</span>
                            </div>
                        </div>
                        <h4 class="text-uppercase mb-3">@item.Title</h4>
                        <a class="text-uppercase fw-bold" href="#">DAHA FAZLA BİLGİ <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        } 
    </div>
</div>
<!-- Blog End -->