<!-- Footer Start -->
<div class="footer container-fluid position-relative bg-dark bg-light-radial text-white-50 py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-6 pe-lg-5">
            <a href="/Home/index" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white"><i class="bi bi-building text-primary me-2"></i>CITYSKYLINE</h1>
            </a>
            <p>İletişim Kanallarımız 7/24 Açıktır.
                Bizi Sosyal Medya Adreslerimizden Takip Etmeyi Unutmayın.
            </p>
            <p><i class="fa fa-map-marker-alt me-2"></i>Eyüp Sultan, İstanbul, TÜRKİYE</p>
            <p><i class="fa fa-phone-alt me-2"></i>0555 555 55 55</p>
            <p><i class="fa fa-envelope me-2"></i>city@skyline.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://Linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-6 ps-lg-5">
            <div class="row g-5">
                <div class="col-sm-6">
                    <h4 class="text-white text-uppercase mb-4">MENÜLER</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="/Home/Index"><i class="fa fa-angle-right me-2"></i>Ana Sayfa</a>
                        <a class="text-white-50 mb-2" href="/Home/About"><i class="fa fa-angle-right me-2"></i>Hakkımızda</a>
                        <a class="text-white-50 mb-2" href="/Home/Service"><i class="fa fa-angle-right me-2"></i>Servislerimiz</a>
                        <a class="text-white-50 mb-2" href="/Home/Team"><i class="fa fa-angle-right me-2"></i>Teknik Ekibimiz</a>
                        <a class="text-white-50" href="/Home/Contact"><i class="fa fa-angle-right me-2"></i>İletişim</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="text-white text-uppercase mb-4">POPÜLER BÖLÜMLER</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="/Home/blog"><i class="fa fa-angle-right me-2"></i>Bloglar</a>
                        <a class="text-white-50 mb-2" href="/Home/BlogDetail"><i class="fa fa-angle-right me-2"></i>Blog Detayları</a>
                        <a class="text-white-50 mb-2" href="/Home/Project"><i class="fa fa-angle-right me-2"></i>Projeler</a>
                        <a class="text-white-50 mb-2" href="/Home/Testimonial"><i class="fa fa-angle-right me-2"></i>Sizden Gelenler</a>
                        <a class="text-white-50" href="/Home/Contact"><i class="fa fa-angle-right me-2"></i>İletişim</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="text-white text-uppercase mb-4">Bülten</h4>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 20px 30px;" placeholder="Email Adresin"><button class="btn btn-primary px-4">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark bg-light-radial text-white border-top border-primary px-0">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="py-4 px-5 text-center text-md-start">
            <p class="mb-0">&copy; <a class="text-primary" href="/Home/Index">CitySkyLine</a>. Tüm Hakları Saklıdır.</p>
        </div>
        <div class="py-4 px-5 bg-primary footer-shape position-relative text-center text-md-end">
            <p class="mb-0">Designed by <a class="text-dark" href="https://www.google.com">Nebukadnezar</a></p>
        </div>
    </div>
</div>
<!-- Footer End -->