@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl">
    <div class="container">
        <div class="row g-5 align-items-center">

            <div class="col-6 offset-3">

                @if (TempData["success"] != null)
                {
                    <div class="alert alert-warning">
                        @TempData["success"]
                    </div>
                }
                <form asp-action="Login" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


