@model ResultBlogDetailDTO

<div class="mb-5">
    <img class="img-fluid w-100 rounded mb-5" src="~/img/@Model.Blog.Image">

    <h1 class="text-uppercase mb-4">
        @Model.Blog.Title
    </h1>
    <p>
        @Model.Description1
    </p>
    <p>
        @Model.Description2
    </p>
    <p>
        @Model.Description3
    </p>
</div>
