@model ResultBlogDetailDTO
<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">BLOG DETAYLARI</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="/Home/Index">ANA SAYFA</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">BLOG DETAYLARI</h6>
    </div>
</div>
<!-- Page Header Start -->
<!-- Blog Start -->
<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            @await Component.InvokeAsync("_HomeBlogDetailStartViewComponentPartial")
            <!-- Blog Detail End -->
            <!-- Comment List Start -->
            @await Component.InvokeAsync("_HomeBlogDetailCommentViewComponentPartial")
            <!-- Comment List End -->
            <!-- Comment Form Start -->
            <div class="bg-light p-5">
                <h3 class="text-uppercase mb-4">BİR YORUM YAZ</h3>
                <form>
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-white border-0" placeholder="Adınız" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="email" class="form-control bg-white border-0" placeholder="Emailiniz" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <textarea class="form-control bg-white border-0" rows="5" placeholder="Yorumunuz"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">GÖNDER</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Comment Form End -->
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- Search Form Start -->
            <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-3" placeholder="Aramak İstediğiniz Kelime">
                    <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <!-- Search Form End -->
            <!-- Category Start -->
            @await Component.InvokeAsync("_HomeBlogDetailCategoryViewComponentPartial")
            <!-- Category End -->
            <!-- Recent Post Start -->
            @await Component.InvokeAsync("_Last6BlogViewComponentPartial")
            <!-- Recent Post End -->
            <!-- Image Start -->
            <div class="mb-5">
                <img src="~/img/blog-1.jpg" alt="" class="img-fluid rounded">
            </div>
            <!-- Image End -->
        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->
