@model List<ResultCategoryDTO>
<div class="mb-5">
    <h3 class="text-uppercase mb-4">KATEGORİLER</h3>
    <div class="d-flex flex-column justify-content-start bg-light p-4">
        @foreach(var item in Model)
        {
            <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>@item.Title</a>
        }
       
        
    </div>
</div>